body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: #F9F9F9;
}
.container{
  max-width: 70%;
  margin: 0 auto;
  height: 100vh;
}

/*NAV MENU*/
#nav-menu{
  position: fixed;
  text-align: right;
  float: right;
  top: calc(50vh - 110px);
  right: 2%;
  z-index: 2;
  display: block;
  text-decoration: none;
}
#nav-menu ul{
  margin: 0;
  padding: 0;
}
#nav-menu li{
  display: block;
}
#nav-menu li a{
  color: rgba(0,0,0,.1);
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .4s;
}
#nav-menu li a:hover{
  color: rgba(0,0,0,.4);
}
hr{
  width: 50px;
  float: right;
  margin: 20px 0;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 0;
  border-left: 1px solid rgba(0,0,0,.2);
  border-right: 1px solid rgba(0,0,0,.2);
  }
.activo{
  color: #2c2c2c !important;
  /*font-size: 24px !important;*/
  font-weight: 700;
}
/*HEADER*/
#header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#header h1{
  text-align: left;
  font-size: 48pt;
  font-weight: 400;
  line-height: 62px;
  color: #4b4b4d;
}
#header span.hi{
  font-size: 68px;
  font-weight: 700;
  color: #2c2c2c;
}
#header span.name{
  position: relative;
  z-index: 1;
}
#header span.name:after{
  display: block;
  position: absolute;
  left: 0;
  bottom: 11px;
  width: 0;
  height: 15%;
  background-color: #ffc000;
  content: "";
  transition: width 0.2s;
  z-index: -1;
}
#header span.name:hover:after {
  width: 100%;
}
#header span.student{
  font-size: 36px;
  font-weight: 400;
  color: #ffc000;
}
#header a{
  padding: 10px;
}
#header .logo{
  margin: 50px auto 0 auto;
  width: 36px;
  height: 38px;
  background: url('img/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
a#scroll-down-btn{
  margin: 0 auto 50px auto;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #2c2c2c;
  width: 100px;
  position: relative;
}
a#scroll-down-btn:after{
  display: block;
  width: 0;
  height: 4px;
  position: relative;
  bottom: 38px;
  background-color: #ffc000;
  content: "";
  transition: width 0.2s;
  z-index: -1;
}
a#scroll-down-btn:hover:after {
  width: 100%;
}
/*ABOUT*/
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about .avatar{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: url(img/avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#about p{
  font-size: 26px;
  color: #2c2c2c;
}
#about span.name{
  position: relative;
  z-index: 1;
}
#about span.name:after{
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  width: 0;
  height: 20%;
  background-color: #ffc000;
  content: "";
  transition: width 0.2s;
  z-index: -1;
}
#about span.name:hover:after {
  width: 100%;
}

/*WHAT I DO*/
#what-i-do{
  transition: .4s linear;
}
#what-i-do .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#what-i-do .box{
  max-width: 450px;
}
#what-i-do h3{
  font-size: 36px;
  font-weight: 700;
  margin: 10px auto 0 0;
  color: #2c2c2c;
  margin-bottom: 0;
  transition: .6s;
}

#what-i-do h3:first-child{
  margin-top: 0;
}
#what-i-do p{
  font-size: 18px;
  color: #F9F9F9;
  margin-top: 0;
  visibility: hidden;
}
#what-i-do p:last-child{
  margin-bottom: 0;
}
#what-i-do h3:hover{
  color: #F9F9F9;
  padding-left: 20px;
  cursor: pointer;
}
/*sup {
    font-size: .5em;
    font-weight: 700;
    padding-right: 5px;
}*/

/*FOOTER*/
#contact .container-dos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 190px);
  margin: 0 auto;
  max-width: 920px;
}
#contact .container-dos p{
  font-size: 26px;
  color: #2c2c2c;
}
#contact .container-dos a{
  font-size: 28px;
  color: #2c2c2c;
  font-weight: 500;
  text-decoration: none;
  margin: 0 auto 0 0;
  position: relative;
  z-index: 1;
}
#contact .container-dos a:after{
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  width: 0;
  height: 20%;
  background-color: #ffc000;
  content: "";
  transition: width 0.2s;
  z-index: -1;
}
#contact .container-dos a:hover:after {
  width: 100%;
}

#social{
  max-width: 100%;
  height: 120px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social i{
  transition: all 200ms ease-in-out;
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}
#social a{
color:#2c2c2c;
margin: 0 20px;
}

#social i:hover {
  transform: scale(1.2);
}
footer{
  #4B4B4Dwidth: 100%;
  
  height: 70px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer i.fa-heart{
color: #ff4848;
}
footer i.fa-chevron-up{
  position: absolute;
  right: 2%;
  margin-top: -17px;
  color:#2c2c2c;
  transition: all 200ms ease-in-out;
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}
footer i.fa-chevron-up:hover {
  transform: scale(1.2);
}

/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
  #nav-menu{
    display: none;
  }
  .container{
    max-width: 706.150px;
  }
}
